{% extends 'index.html' %}
{% load static %}
{% block body %}

  <html>
	<head>
		<style>
			body {
				font-family: Arial, Helvetica, sans-serif;
				margin: 0;
			  }
			  
			  html {
				box-sizing: border-box;
			  }
			  
			  *, *:before, *:after {
				box-sizing: inherit;
			  }
			  
			  .column {
				float: left;
				width: 33.3%;
				margin-bottom: 16px;
				padding: 0 8px;
			  }
			  
			  .card {
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
				margin: 8px;
			  }
			  
			  .about-section {
				padding: 50px;
				text-align: center;
				background-color: #474e5d;
				color: white;
			  }
			  
			  .container {
				padding: 0 16px;
			  }
			  
			  .container::after, .row::after {
				content: "";
				clear: both;
				display: table;
			  }
			  
			  .title {
				color: grey;
			  }
			  
			  .button {
				border: none;
				outline: 0;
				display: inline-block;
				padding: 8px;
				color: white;
				background-color: #000;
				text-align: center;
				cursor: pointer;
				width: 100%;
			  }
			  
			  .button:hover {
				background-color: #555;
			  }
			  
			  @media screen and (max-width: 650px) {
				.column {
				  width: 100%;
				  display: block;
				}
			  }

		</style>
	</head>
	
  
	<div class="w3l_banner_info">
		<div class="slider1">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider1-img" style="height:90px">
							<div class="slider_banner_info">
							
								
							</div>
						</div>
					</li>
					
					
				</ul>
			</div>
		</div>
	</div>
	<!-- //banner-slider -->
</div>
</header>

{% comment %} 
<section class="about py-lg-5 py-md-4 py-md-3 py-2" id="about">
<div class="about py-lg-5 py-md-4 py-md-3 py-2">
<div class="container">
<h3 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">ABOUT US</h3><iframe style="height:0"></iframe>
<div class="row">
<div class="col-md-6 com-sm-6 w3three_al1">
<h4 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Take A Look About Our Company</h4>
<p class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
<a href="#">Read More</a>
</div>
<div class="col-md-6 com-sm-6 w3three_al">
<img src="images/ab.jpg" alt="" class="img-fluid">
</div>
</div>
<div class="w3_acd">
<h4>Why Choose Us</h4>
			<div class="w3-agileits-team-title"> 
				
				
			<div id="horizontalTab">
					<ul class=" resp-tabs-list">
					<li>
						<h5>Interior Designs</h5>
					</li>
					<li>
						<h5>Exterior Designs</h5>
					</li>
					<li>
						<h5>Gardening</h5>
					</li>
					<li>
					<h5>Roofing</h5>
					</li>
					</ul>
					<div class=" resp-tabs-container">
					<div class="tab1">
						<div class="row">
<div class="col-md-6 com-sm-6 w3three_al2">
<div class="test-wel">
						
						<p>Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
							reprehend.Unicmquam eius, Basmodi temurer sehsMunim.</p>
						<ul>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
						</ul>
					</div>
</div>
<div class="col-md-6 com-sm-6 w3three_al3">
<img src="images/ab1.jpg" alt="" class="img-fluid">
</div>
</div>
					</div>
					
					<div class="tab2">
					<div class="row">
<div class="col-md-6 com-sm-6 w3three_al4">
<div class="test-wel">
						
						<p>Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
							reprehend.Unicmquam eius, Basmodi temurer sehsMunim.</p>
						<ul>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
						</ul>
					</div>
</div>
<div class="col-md-6 com-sm-6 w3three_al5">
<img src="images/ab2.jpg" alt="" class="img-fluid">
</div>
</div>
					</div>
					<div class="tab3">
					<div class="row">
<div class="col-md-6 com-sm-6 w3three_al6">
<div class="test-wel">
						
						<p>Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
							reprehend.Unicmquam eius, Basmodi temurer sehsMunim.</p>
						<ul>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
						</ul>
					</div>
</div>
<div class="col-md-6 com-sm-6 w3three_al7">
<img src="images/ab3.jpg" alt="" class="img-fluid">
</div>
</div>	
					</div>
					<div class="tab4">
					<div class="row">
<div class="col-md-6 com-sm-6 w3three_al8">
<div class="test-wel">
						
						<p>Masagni dolores eoquie int Basmodi temporant, ut laboreas dolore magnam aliquam kuytase uaeraquis autem vel eum iure
							reprehend.Unicmquam eius, Basmodi temurer sehsMunim.</p>
						<ul>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
							<li>
								<i class="fas fa-check"></i>Lorem Ipsum is simply dummy text</li>
						</ul>
					</div>
</div>
<div class="col-md-6 com-sm-6 w3three_al9">
<img src="images/ab4.jpg" alt="" class="img-fluid">
</div>
</div>
					</div>
					</div>
					
					
			</div>
	</div>
	</div>
</div>
</div>
</section>
 {% endcomment %}

 <div class="about-section">
	<h1>About Us Page</h1>
	<p>Some text about who we are and what we do.</p>
	<p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
	<div class="column">
	  <div class="card">
		<img src="/static/images/female1.jpg" alt="Jane" style="width:100%">
		<div class="container">
		  <h2>Jasmin Doe</h2>
		  <p class="title">CEO & Founder</p>
		  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
		  <p>jane@example.com</p>
		  <p><button class="button">Contact</button></p>
		</div>
	  </div>
	</div>
  
	<div class="column">
	  <div class="card">
		<img src="/static/images/female4.jpeg" alt="Mike" style="width:100%">
		<div class="container">
		  <h2>Miral Ross</h2>
		  <p class="title">Art Director</p>
		  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
		  <p>mike@example.com</p>
		  <p><button class="button">Contact</button></p>
		</div>
	  </div>
	</div>
  
	<div class="column">
	  <div class="card">
		<img src="/static/images/male1.png" alt="John" style="width:100%">
		<div class="container">
		  <h2>John Doe</h2>
		  <p class="title">Designer</p>
		  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
		  <p>john@example.com</p>
		  <p><button class="button">Contact</button></p>
		</div>
	  </div>
	</div>
  </div>

{% endblock %}

